on early-boot
    chmod 0664 /dev/lm8502
    chown system system /dev/lm8502
    chmod 0664 /sys/class/leds/core_navi_left/brightness
    chown system system /sys/class/leds/core_navi_left/brightness
    chmod 0664 /sys/class/leds/core_navi_right/brightness
    chown system system /sys/class/leds/core_navi_right/brightness

service vendor.light-hal-2-0 /vendor/bin/hw/android.hardware.light@2.0-service.tenderloin
    class hal
    user system
    group system
    shutdown critical
