on boot
    # allow system to modify kgsl trustzone governor
    chown system system /sys/class/kgsl/kgsl-3d0/pwrscale/trustzone/governor
    chmod 0664 /sys/class/kgsl/kgsl-3d0/pwrscale/trustzone/governor

    setprop sys.usb.ffs.aio_compat 1
    setprop sys.io.scheduler "noop"

on enable-low-power
    # Power collapse
    write /sys/module/pm_8x60/modes/cpu0/power_collapse/suspend_enabled 1
    write /sys/module/pm_8x60/modes/cpu0/power_collapse/idle_enabled 1
    write /sys/module/pm_8x60/modes/cpu0/standalone_power_collapse/suspend_enabled 1
    write /sys/module/pm_8x60/modes/cpu0/standalone_power_collapse/idle_enabled 1
    write /sys/module/pm_8x60/modes/cpu1/power_collapse/idle_enabled 1
    write /sys/module/pm_8x60/modes/cpu1/power_collapse/suspend_enabled 1
    write /sys/module/pm_8x60/modes/cpu1/standalone_power_collapse/idle_enabled 1
    write /sys/module/pm_8x60/modes/cpu1/standalone_power_collapse/suspend_enabled 1
    write /sys/module/rpm_resources/enable_low_power/vdd_dig 2
    write /sys/module/rpm_resources/enable_low_power/vdd_mem 2
    write /sys/module/rpm_resources/enable_low_power/L2_cache 1
    write /sys/module/rpm_resources/enable_low_power/pxo 1
    write /sys/module/rpm_resources/enable_low_power/rpm_cpu 1

    # Entropy
    write /proc/sys/kernel/random/write_wakeup_threshold 4096
    write /proc/sys/kernel/random/read_wakeup_threshold 4096

    # I/O
    write /sys/block/mmcblk0/queue/rq_affinity "0"

    # KGSL trustzone governor
    write /sys/class/kgsl/kgsl-3d0/pwrscale/trustzone/governor ondemand

    # MSM Thermal
    write /sys/kernel/msm_thermal/enabled 0
    write /sys/kernel/msm_thermal/low_thresh "1188000 64 60"
    write /sys/kernel/msm_thermal/mid_thresh "972000 69 65"
    write /sys/kernel/msm_thermal/high_thresh "384000 80 75"
    write /sys/kernel/msm_thermal/sampling_ms 3000

    # KSM
    write /sys/kernel/mm/ksm/run 0

on property:sys.boot_completed=1
    trigger enable-low-power
    setprop sys.io.scheduler "bfq"

on property:init.svc.recovery=running
    trigger enable-low-power
